[include mainsail.cfg]
[mcu]
serial: /tmp/klipper_host_mcu

[mcu z]
serial: /dev/ttyACM0
restart_method: command

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: corexy
max_velocity: 300  
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100
square_corner_velocity: 5.0  


[include shell_command.cfg]


#####################################################################
#   Z Stepper Settings
#####################################################################
# X on pico
##  Z0 Stepper - Front Left
[stepper_z]
step_pin: z:gpio11
dir_pin: !z:gpio10
enable_pin: !z:gpio12
# Rotation Distance for TR8x8 = 8, TR8x4 = 4, TR8x2 = 2
# rotation_distance: 8    
microsteps: 32
endstop_pin: ^z:gpio4
##  Z-position of nozzle (in mm) to z-endstop trigger point relative to print surface (Z0)
##  (+) value = endstop above Z0, (-) value = endstop below
##  Increasing position_endstop brings nozzle closer to the bed
##  After you run Z_ENDSTOP_CALIBRATE, position_endstop will be stored at the very end of your config
position_endstop: -0.5
## All builds use same Max Z
position_max: 250
position_min: -2.5
homing_speed: 8.0 # Leadscrews are slower than 2.4, 10 is a recommended max.
second_homing_speed: 3
homing_retract_dist: 3

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z]
uart_pin: z:gpio9
#tx_pin: z:gpio8
uart_address: 0
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0

# Y on pico
##  Z1 Stepper - Rear Center
##  Connected to MOTOR_3
[stepper_z1]
step_pin: z:gpio6
dir_pin: !z:gpio5
#enable_pin: !Z:gpio7
microsteps: 32
#endstop_pin: ^Z:gpio3

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z1]
uart_pin: z:gpio9
#tx_pin: z:gpio8
uart_address: 2
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0
#diag_pin: ^z:gpio3

# Z on pico
##  Z2 Stepper - Front Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: z:gpio19
dir_pin: z:gpio28
enable_pin: !z:gpio2
microsteps: 32
#endstop_pin: probe:z_virtual_endstop

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_z2]
uart_pin: z:gpio9
#tx_pin: z:gpio8
uart_address: 1
interpolate: False
run_current: 0.6
sense_resistor: 0.110
stealthchop_threshold: 0


[z_tilt]
##  Use Z_TILT_ADJUST to level the bed .
##  z_positions: Location of toolhead

##--------------------------------------------------------------------
## Uncomment below for 250mm build
z_positions:
   -50, 18
   125, 298
   300, 18
points:
   30, 5
   125, 195
   220, 5

speed: 200
horizontal_move_z: 10
retries: 5
retry_tolerance: 0.0075

